@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.inline-space {
  display: inline-block;
  width: 0.2rem;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
}

h1 {
  font-size: 20px !important;
}

.trash-icon {
  display: "inline-block" !important;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: "#ff4800" !important;
  width: 2rem !important;
  height: 2rem !important;
}

.trash-icon:hover {
  transform: scale(1.1);
}

select,
input {
  box-shadow: none !important;
  border-color: black !important;
}

.bloqued {
  cursor: not-allowed;
}

input {
  margin-top: 1rem !important;
  box-shadow: none !important;
}

.register-error {
  color: brown;
}

.auth-link {
  color: black;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: wavy;
}

.btn {
  box-shadow: none !important;
}

.shadow-lg {
  border-radius: 0.25rem !important;
  background-color: #fff !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-md {
  background-color: #fff !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.login {
  background-image: url("./assets/images/login.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 89.7vh;
}

.login-container {
  margin-top: 5rem !important;
}

.register {
  background-image: url("./assets/images/register-bg.svg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 89.7vh;
}

/* Animations */

.shake-btn {
  transition: 0.3s ease-out;
}

.shake-btn:hover {
  transform: scale(1.03);
}

.shake-badge {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}
