.admin-features {
  padding: 1rem;
  background-color: rgb(1, 1, 77);
}

.admin-features li {
  list-style-type: none;
  display: inline;
  color: #fff;
}

.admin-features .admin-nav-item {
  color: #fff;
  padding-right: 3rem;
}

td,
th,
tr {
  text-align: left;
}

.edit-pizza-header {
  display: flex;
}

.go-back-icon {
  display: flex;
  height: 2rem !important;
  width: 2rem !important;
  background: linear-gradient(to left top, #ff4800, #ec0000) !important;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  padding: 0.1rem !important;
  justify-content: center;
  align-items: center;
}

.edit-piza-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.4;
}

table > tbody > tr > td:last-child {
  text-align: center;
}

.admin-btn {
  background: linear-gradient(to left top, rgb(1, 1, 77), rgb(1, 1, 77));
  color: #fff;
}

.fa-lg {
  cursor: pointer;
}
